<div class="background-img2" id="edit-background-img2">
    <div class="application-wrapper" id="edit-wrapper">
        <header>
            <div class="welcome">
                <div class="logout-btn">
                    <a href="/logout">LOG OUT</a>
                </div>
                <div class="username-txt">
                    <p>WELCOME, <%= @user.username.upcase %></p>
                </div>
            </div>
            <h1>Select <%= @num_songs_needed %> songs</h1>
            <nav>
                <div class="nav-width">
                    <div><a href="/albums/select/first">Select Recent</a></div>
                    <div><a href="/albums/select/random">Select Random</a></div>
                    <div><a href="/albums/select/none">Deselect All</a></div>
                    <div><a href="/setup">Change Layout</a></div>
                    <div><a href="/albums/refresh">Refresh</a></div>
                </div>
            </nav>
        </header>
        <main>
            <form method="POST" action="/albums">
                <input name="_method" value="patch" id="hidden" type="hidden">

                <section id="edit-message-box">
                    <% if flash.has?(:albums_refresh) %>
                        <p class="message-box" id="edit-refresh-txt"><%= flash[:albums_refresh] %></p>
                    <% elsif flash.has?(:selection_error) %>
                        <p class="message-box" id="edit-selection-error-txt"><%= flash[:selection_error] %></p>
                    <% end %>
                </section>

                <input type="submit" value="Validate number of songs and submit" class="submit-btn" id="edit-submit-btn">

                <% @user.songs.reverse_each do |s| %>
                    <div class="edit-songs-grid">
                        <div class="col-1">
                            <input type="checkbox" name="preferred_song_ids[]" value="<%= s.id %>" <%='checked' if @preferred_song_ids.include?(s.id) %>>
                        </div>
                        <div class="col-2">
                            <img src="<%= s.album.image %>" onclick="playPause('<%= s.id %>')" alt="album cover" class="album-cover">
                            <audio preload="auto" id="<%= s.id %>">
                                    <source src="<%= s.preview_url %>" />
                            </audio>
                        </div>
                        <div class="col-3">
                            <div class="col-3-row-1"><p>ALBUM: <%= s.album.title %></p></div>
                            <div class="col-3-row-2"><p>SONG: <%= s.title %></p></div>
                            <div class="col-3-row-3"><p>ARTIST(S): <%= s.artists.map { |a| a.name }.join(", ") %></p></div>
                        </div> 
                        <div class="col-4">
                            <a href="/albums/<%= s.id %>/delete"><img class="img-delete-btn" src="/images/delete-btn.png" alt="delete button"></a>
                        </div>
                    </div>
                    <hr>
                <% end %>

            </form>
        </main>
    </div>
</div>