<h2><%= @user.username %> | Check out your covers!</h2>
<a href="/setup">Change layout</a> | 
<a href="/albums/edit">Edit songs</a> | 
<a href="/logout">Log Out</a>
<br><br>

<table>
  <% @preferred_songs.reverse.each_slice(@user.setup.columns) do |row| %>   
    <tr>
      <% row.each do |s| %>
        <td>
            <img src="<%= s.album.image %>" onclick="playPause('<%= s.id %>')" alt="album cover">
            <audio preload="auto" id="<%= s.id %>">
                    <source src="<%= s.preview_url %>" />
            </audio>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

